a{
	text-decoration: none;
	
}
*{
	padding:0px;
	margin:0px;
	font-family:"Microsoft Yahei", Arial;
}
html,body{
	width:100%;
	height:100%;
	font-family:"Microsoft Yahei", Arial;
}
#header{
	background: url(header1.jpg) -2px no-repeat #e9e9e9;
	height: 90px;
	width: 960px;
	margin: 0 auto;
}
#top{
background: #e9e9e9;
}
#tab{
background: #2980B9;
width:100%;
margin:0;
height: 50px;
}
#page{
	width: 960px;
}

#nav{
	background: #2980B9;    
}
#nav li{
    line-height: 50px;
}
#nav a{
	font-family:"Microsoft Yahei", Arial;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	line-height:34px;
	display:block;
	padding-left:15px;
	padding-right:15px;
}
#nav .show a,#nav a:hover{
	background:#fff no-repeat top center;
	color:#111;
	font-weight:bold;
}
#nav .secnav{
	position:absolute;
	display:none;
}
#nav .show .secnav{
	display:block;
}
#nav .secnav a{
	/* display:inline; */
	color:#000;
	background:none;
	font-weight:normal; 
	padding-left: 20px;
	padding-right:8px;
}
#nav .secnav a:hover{	
	text-decoration:underline;

}
#n3{left:-50px; width:300px;}
#n4{left:-150px; width:450px;}
#center_right{
	float: right;

	width: 620px;
	  
	margin: 0 10px;
}
#center{
	float: left;

	width: 300px;
	margin: 5px 0;
	/* min-height: 345px; */
	/* margin: 10px; */  
	/* background: #EEE; */
}
.title,.left_title{
background: url(news.jpg) no-repeat left bottom  #FFF;
color: #0070BB;
padding: 10px 5px 0 40px;
font-size: 15px;
font-family: "Microsoft Yahei";
font-weight: bold;
overflow: hidden;
line-height: 28px;
clear: both;
margin-bottom: 5px;
border-bottom: 1px solid #00a7ec;
height: 30px;
}
#foot{
	background: #F3F3F3;
	padding:20px;
	
	height: 50px;
	line-height: 29px;
	clear: both;
}
.list span{
	background: #3498DB;
color: #fff;

	padding: 5px 6px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height: 30px;

	/* margin-left: 10px; */

	margin-right: 10px;
	
	text-align: right;
}
.list{
	padding: 5px 10px;
	  
	/* background: #EEE; */
	/* min-height: 300px; */
}
.list a{
	color:#111;
	line-height: 32px;
}
#honor{
background: url(honor.png) no-repeat 10px center #3498DB;
padding: 10px 40px;
color: #f3f3f3;
font-size: 15px;
font-family: "Microsoft Yahei";
font-weight: bold;
height: 20px;
}
#glory img{
	background:url(honorpic.jpg);
	
	height: 125px;
	margin-right: 80px;
}
.more{
float: right;
color: #727272;

}
.ltitle{
float: left;
}
#center_left{
	
	float: left;

	width: 665px;

	margin: 0 5px;
}
#mid_right{
	float: right;
width: 260px;

	margin: 0 5px;

}
.mainleft{
	float:left;
	width:300px;
	
}
.mainright{
	float:right;
	width: 365px;
}

*{margin:0px; padding:0px;}
body{ font-size:12px; /* line-height:24px; */ background-color: #F5F5F5;}
img{border:0px;}
ul{list-style:none;}

#page{margin: 0 auto 20px auto;  background-color:#fff;border-left: 1px solid rgb(216,216,219);  border-right: 1px solid rgb(216,216,219);    border-bottom: 1px solid rgb(216,216,219);}
#head{background:url(wptiTop.png) left top no-repeat; height:115px; text-align:right;}
#head a{color:#575757; text-decoration:none; display:inline-block; background:url(wktiIco.png) -15px 6px no-repeat; padding-left:20px; padding-right:15px;}
#head a:hover{text-decoration:underline; color:#ff0000;}

#nav{
    margin: 0 auto;
    width: 960px;
    height: 50px;  
    border: 0;
}
#nav li{float:left; position:relative;white-space: nowrap;}
#nav li a{display:block; height: 50px;  background-position:0px 0px; background-repeat:no-repeat; /* text-indent:-999em; */line-height: 50px;}
#nav #n1 a{/* width: 50px; */ background-position:0px 0px;}
#nav #n2 a{/* width:102px; */ background-position:-115px 0px;}
#nav #n3 a{width:101px; background-position:-217px 0px;}
#nav #n4 a{width:107px; background-position:-318px 0px;}
#nav #n5 a{width:106px; background-position:-425px 0px;}
#nav #n6 a{width:99px; background-position:-531px 0px;}
#nav #n7 a{width:105px; background-position:-630px 0px;}
#nav #n8 a{width:99px; background-position:-735px 0px;}
#nav #n9 a{width:107px; background-position:-834px 0px;}
#nav li div{position:absolute; display:none; background-color:#fff; top: 50px; left: -1px; width: 200px; overflow:hidden; border:solid 1px #bbb; border-top:none;}
#nav #n3 div{width:150px;}
#page #nav li div a{height:30px; width:150px; padding:0px 5px; background:none; text-indent:0em; color: #FF001E; text-decoration:none; line-height:30px;}
#page #nav li div a:hover{color:#fff; background-color:#339900;}

#body{}
#left{float:left; width: 300px;   -webkit-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;margin: 0 5px;/* background: #EEE; */}
#right{float: left; width: 265px;padding: 0 5px 0 15px;margin: 5px 0;}

{}
.lTitle a{float:right; display:inline; font-weight:normal; font-size:12px; color:#164a7a; text-decoration:none; margin-top:14px; margin-right:14px;}
.lTitle span{display:inline-block; width:160px; height:26px; background-image:url(wktiTitle.png); background-position:0px -3px; background-repeat:no-repeat; margin-top:8px; text-indent:-999em;}

#left #xkjj span{background-position:-160px -3px;}
#left #intro{padding:5px; text-indent:2em;}

#left .lNews{}
#left .lNews li{background:url(wktiIco.png) -20px -30px no-repeat; padding-left:20px; border-bottom: dashed 1px #a5a5a5;}
#left .lNews li a{color:#5d5d5d; text-decoration:none;}
#left .lNews li a:hover{color:#000;}

#left #links span{background-position:-340px -3px;}

#flash{padding:5px 0px;}

.lists{width:340px; float:left; display:inline; margin-bottom:8px;}
.lists h2{height:29px; background:url(wktiTitle.png) 90px -41px no-repeat; }
.lists h2 a{float:right; display:inline; color:#666666; text-decoration:none; line-height:29px; font-size:12px; font-weight:normal; margin-right:8px;}
.lists h2 span{display:inline-block; width:140px; height:29px; background-image:url(wktiTitle.png); background-position:-390px -41px; background-repeat:no-repeat; text-indent:-999em;}
.lists ul{border:solid 1px #e4e1e1; border-top:none; background:url(wktiIco.png) 0px -280px repeat-x; padding:5px;}
.lists ul li{padding-left:15px; background:url(wktiIco.png) -21px -64px no-repeat; border-bottom:dashed 1px #dedede;}
.lists ul li span{float:right; padding-right:4px; color:#333333;}
.lists ul li.hover span{color:#c80104;}
.lists ul li a{color:#333333; text-decoration:none;}
.lists ul li.hover a{color:#237a06;}
#rXkcg{margin-left:10px;}
#rXkcg h2 span{background-position:-530px -41px;}

#rXsjl h2 span{background-position:-810px -41px;}

#rZsxx{margin-left:10px;}
#rZsxx h2 span{background-position:-670px -41px;}

#bottom{background:url(wktiIco.png) 0px -90px repeat-x; height:115px;}
#bottom p{color:#5d5d5d; text-align:center; padding-top:30px;}


.tpnav{font-size: 14px;
background: #FAFAFA;
height: 30px;
line-height: 30px;
color: #333;
padding: 10px 0 10px 20px;
}
.tpnav a{
	font-weight:bold;
	color:#000;
}
h2#title {
text-align: center;
line-height: 40px;
font-size: 20px;
}
.tit_fu {
text-align: right;
margin-right: 10px;
}
.article_word {
margin: 20px;
line-height: 30px;
min-height: 200px;
}
#fenye {
margin: 10px;
line-height: 30px;
height: 80px;
}
#fenye span {
background: #3498DB;
color: #fff;
padding: 5px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
/* margin-left: 10px; */
margin-right: 10px;
}
#upNews,#downNews {
float: left;
width: 470px;
}
.slide {
width: 960px;
height: 1px;
background: #D3D3D3;
margin: 10px;
padding: 0;
position: relative;
left: -20px;
}
.column_left {
float: left;
width: 260px;
min-height: 800px;
background: #F7F7F7;
}
.column_right {
float: left;
width: 700px;
}
.column_ltitle {
font-size: 14px;
background: #05AFFF;
height: 30px;
line-height: 30px;
color: #FFF;
padding: 10px 0 10px 20px;
font-weight: bold;
}
#news_list_ul span {
background: #3498DB;
color: #fff;
padding: 5px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
/* margin-left: 10px; */
margin-right: 10px;
}
#news_list_ul li {
margin: 10px;
}
#news_list_ul a {
color: #000;
}
.list1 {
font-size: 14px;
background: #6B6B6B;
height: 30px;
line-height: 30px;
color: #FFF;
padding: 10px 0 10px 30px;
list-style: none;
border-bottom: solid 1px #7E7E7E;
overflow: hidden;
}
.list1:hover{
background: #ccc;
}
.list1 a{
	color:#fff;
	overflow: hidden;
}
.fenyenav{
	margin:5px;
	position: absolute;
	top: 850px;
}
.fenyenav b{
background: #666;
color: #fff;
padding: 5px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
line-height: 20px;
margin:0 5px;
font-weight: normal;
}
.fenyenav a{
background: #2890D5;
color: #fff;
padding: 5px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
line-height: 20px;
margin:0 5px;
}
.news{background: url(news.jpg) no-repeat 5px 8px #FFF;}
.tz{background: url(tz.jpg) no-repeat 5px 8px #FFF;}
.cg{background: url(cg.jpg) no-repeat 5px 8px #FFF;}
.sys{background: url(sys.jpg) no-repeat 5px 8px #FFF;}
.banner-img img {
width: 300px;
}
#glory {
margin-top: 10px;
}